<div class="row holder">
	<div class="small-12 small-centered columns" style="text-align:center;">
  <h2 class="subheader">About Us</h2>
  <h4 class="subheader">The Team </h4>
  <h4 class="subheader"> <span class="title_color">James Haville</span> Founder & CTO </h4>
</div>
</div>