<div class="row holder">
	<div class="small-12 small-centered columns" style="text-align:center;">
	  <h2 class="subheader">Contact Us <i class="icon-envelope icon"></i></h2>
	 	<h4 class="subheader"> Information on upcoming releases: </h4>
	 	<h2 class="subheader title_color"> info@breakpointlabs.co.uk</h2>
	  <h4 class="subheader"> Press enquiries: </h4>
	  <h2 class="subheader title_color"> press@breakpointlabs.co.uk</h2>
	  <h4 class="subheader"> Facebook, Twitter: </h4>
 		<h2 class="subheader title_color"> <i class="icon-facebook icon"></i>    <i class="icon-twitter icon"></i></h2>
	</div>
</div>