<div class="row holder">
  <div class="small-10 small-centered columns">
  	<h1 class="subheader">Break<span class="title_color">point</span> labs</h1>
  	<h4 class="subheader">Breakpoint labs produces 
  		<span class="title_color">web</span> and 
  		<span class="title_color">mobile </span>applications aimed at <span class="title_color">creating value</span> for society and allowing people to live their lives 
  		<span class="title_color">efficiently.</span>
  	</h4>
  
	</div>
		<br>
  	<br>
	<div class="row">
	  <div class="large-4 columns" style="text-align: center; color: #6f6f6f; border-right: solid 1px #afafaf;">
	  	<i class="icon-desktop icon-4x"> </i> 
	  	<i class="icon-tablet icon-4x"> </i>
	  	<i class="icon-mobile-phone icon-4x"></i>
	  	<h2 class="subheader">
	  		<span class="title_color">Universal</span>
	  	</h2>
	  	<h4 class="subheader">Apps designed responsively. We optimise for the device the app is viewed on.
	  	</h4>
	  </div>
      
	  <div class="large-4 columns" style="text-align: center;color: #6f6f6f;border-right: solid 1px #afafaf;">
	  	<i class="icon-lightbulb icon-4x"></i>
	    <h2 class="subheader">
	    	<span class="title_color">Innovative</span>
	    </h2>
	    <h4 class="subheader"> Our team is constantly innovating. We eat, sleep and breathe innovative apps.
	    </h4>
	  </div>
	  <div class="large-4 columns" style="text-align: center;color: #6f6f6f; ">
	  	<i class="icon-code icon-4x"></i>
	    <h2 class="subheader">
	    	<span class="title_color">Technology</span>
	    </h2>
	    <h4 class="subheader"> We use the latest technologies, pushing the boundaries of app development.
	    </h4>
	  </div>
	</div>
	<br>
</div>

